@page
@using Acme.BookStore.Web.Pages.Products
@using Microsoft.Extensions.Localization
@using Acme.BookStore.Localization
@model IndexModel
@inject IStringLocalizer<BookStoreResource> L
@section scripts {
	<abp-script src="/Pages/Products/Index.cshtml.js"/>
}

<abp-card>
	<abp-card-header>
		<h2>@L["Menu:Books"]</h2>
	</abp-card-header>

	<abp-card-body>
		<abp-table id="ProductsTable" striped-rows="true"/>
	</abp-card-body>
</abp-card>

